<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title th:text="${metaTitle} ? ${metaTitle} : 'default title'"></title>
<link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />

<link rel="stylesheet" th:href="@{/css/ruang-admin.css}">
</head>
<body>

	<div id="wrapper">
		<div th:replace="fragments/sidebar :: sidebar"></div>
		<div id="content-wrapper" class="d-flex flex-column">

			<div th:replace="fragments/header :: header"></div>
			<div id="content">
				<section layout:fragment="content"></section>
			</div>



			<!-- Scroll to top -->
			<a class="scroll-to-top rounded" href="#page-top"> <i
				class="fas fa-angle-up"></i>
			</a>

			<div th:replace="fragments/logoutconfirm :: logoutconfirm"></div>
			<div th:replace="fragments/footer :: footer"></div>
		</div>
	</div>

</body>

<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/jquery-validation/jquery.validate.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/jquery-easing/jquery.easing.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/ruang-admin.js}"></script>

</html>