<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Contact Us</title>
</head>
<body>

<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Contact Us</h1>
                    <p>Please visit us - <a
								class="btn btn-sm btn-primary"
								href="https://www.thymeleaf.org/doc/articles/layouts.html"
								role="button" target="_blank">Read more about Thymeleaf Layouts &raquo;</a></p>
                </div>
            </div>
        </div>
    </section>
</div>


</body>
</html>