<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<title>Welcome to Our Site</title>
</head>
<body>

	<div layout:fragment="content">
		<section class="my-5">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Welcome to Thymeleaf Layouts with Spring Boot</h1>
						<p>
							In hierarchical style, the templates are usually created with a
							parent-child relation, from the more general part (layout) to the
							most specific ones (subviews; e.g. page content). Each component
							of the template may be included dynamically based on the
							inclusion and substitution of template fragments. In Thymeleaf
							this can be done using Thymeleaf Layout Dialect. The main
							advantages of this solution are the reuse of atomic portions of
							the view and modular design, whereas the main disadvantage is
							that much more configuration is needed in order to use them, so
							the complexity of the views is bigger than with Include Style
							Layouts which are more “natural” to use. <a
								class="btn btn-sm btn-primary"
								href="https://www.thymeleaf.org/index.html"
								role="button" target="_blank">Read more about Thymeleaf &raquo;</a>
						</p>
					</div>
				</div>
			</div>
		</section>
	</div>

</body>
</html>